<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:action="@{logout}">
    <button type="submit">Logout</button>
</form>
<center>
    <h1>Update User</h1>
    <div>
    <form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
        <table border="5">
            <tr>
                <th><label for="name">Name</label></th>
                <td><input type="text" th:field="*{name}" id="name"/></td>
            <tr/>
            <tr>
                <th><label for="surname">Surname</label></th>
                <td><input type="text" th:field="*{surname}" id="surname"/></td>
            <tr/>
            <tr>
                <th><label for="username">Username</label></th>
                <td><input type="text" th:field="*{username}" id="username"/></td>
            </tr>
            <br>
            <tr>
                <th><label for="password">Password</label></th>
                <td><input type="text" th:field="*{password}" id="password"/></td>
            </tr>
            <br>
            <tr>
                <th><label for="age">Age</label></th>
                <td><input type="text" th:field="*{age}" id="age"/></td>
            </tr>
            <br>
            <tr>
                <th>Roles:</th>
                <td><label>
                    <input type="checkbox" name="role"
                           th:each="role : ${roles}"
                           th:text="${role.name}"
                           th:value="${role.id}"/>
                </label></td>
            </tr>
            <br>
            <tr>
                <th><label for="email">Email</label></th>
                <td><input type="text" th:field="*{email}" id="email"/></td>
            </tr>
            <input type="hidden" th:field="*{id}">
            <br>
        </table>
        <input type="submit" value="OK"/>
    </form>
    </div>
</center>
</body>
</html>