<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:action="@{logout}">
    <button type="submit">Logout</button>
</form>
<center>
    <h1>Users List</h1>
    <div>
        <table border="10">
            <tr>
                <th><p style="font-size: 16px;">ID</p></th>
                <th><p style="font-size: 16px;">Name</p></th>
                <th><p style="font-size: 16px;">Surname</p></th>
                <th><p style="font-size: 16px;">Username</p></th>
                <th><p style="font-size: 16px;">Password</p></th>
                <th><p style="font-size: 16px;">Age</p></th>
                <th><p style="font-size: 16px;">Email</p></th>
                <th><p style="font-size: 16px;">Roles</p></th>
                <th><p style="font-size: 16px;">Operations</p></th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:utext="${user.getId}"></td>
                <td th:utext="${user.getName}"></td>
                <td th:utext="${user.getSurname}"></td>
                <td th:utext="${user.getUsername}"></td>
                <td th:utext="${user.getPassword}"></td>
                <td th:utext="${user.getAge}"></td>
                <td th:utext="${user.getEmail}"></td>
                <td th:utext="${user.getRoles}"></td>
                <td>
                    <form th:action="@{admin/updateUser/{id}(id=${user.id})}" th:object="${user}">
                        <button type="submit">Update</button>
                    </form>
                    <form th:action="@{/admin/deleteUser/{id}(id=${user.id})}" th:object="${user}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <form th:action="@{admin/addNewUser}">
            <button type="submit">Add</button>
        </form>
    </div>
</center>
</body>
</html>